@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap"); */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: auto;
}

#root {
  min-height: 100vh;
  background-color: #e0ddd1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
